{% extends 'base.html.twig' %}

{% block title %}Eval{% endblock %}

{% block body %}
    <div class="row">
        {% for service in services %}
            <div class="card col-3">
                <div class="card-body">
                    <h5 class="card-title">{{service.nom}}</h5>
                    <p class="card-text">{{service.description}}</p>
                    <footer>
                        <h6>{{service.dt_creation | date('Y-m-d') : ''}}</h6>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
